@import '../../assets/variables.scss';

.user {
  margin: 2% 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  &__avatar {
    width: 200px;
    height: 273px;
    object-fit: cover;
  }

  &-info {
    width: 80%;
    display: flex;
    flex-direction: column;

    &__naming {
      display: flex;
      justify-content: center;
      background-color: $main-post-color;
      border-radius: $border-radius-13;
      margin-bottom: 35px;
    }

    &__bio {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $main-post-color;
      border-radius: $border-radius-13;
    }

    &__whitespace {
      margin-right: 10px;
    }
  }

  &__container {
    width: 70%;
    display: flex;
    justify-content: flex-start;
  }
}
